<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/styles/showCar.css" />
</head>
<body>
    <div id="firstDiv">
    <a href="/">Back to Cars and Roads</button></a>
    </div>
    <div id="mainDiv">
        <title>Cars</title>
    </div>
    <div class="car-with-text">
        <figure class="showCarFigure">
            <h3><%=cars.name%></h3>
            <br />
            <img src=<%=cars.img%> width="300" id="showCarImg"/>
            <br />
            <p><%= cars.description %>
            <br />
            <br />
            Price Range: $<%= cars.price %>
            <br />
            <form action="/car/<%= cars._id %>/edit""><button class="editButton">Edit Car</button>
            </form>
            <br />
            <form action="/car/<%= cars._id %>?_method=DELETE" method="POST">
            <br />
            <button type="submit" class="deleteButton">Delete Car</button>
            </p>
            </form>
            <br />
        </figure>
    </div>
    
</body>
</html>


